fastapi
uvicorn[standard]
pydantic
pydantic-settings
langgraph
openai
pymupdf
selenium
opencc-python-reimplemented
python-multipart
aiofiles
websockets
httpx
rapidocr_onnxruntime
opencv-python-headless
